<%- include("partials/header") %>
    <section id="cart">
        <div class="shopping-cart">
            <h2 class="yourcart">Your Cart</h2>
            <div class="column-labels">
              <label class="product-image">Image</label>
              <label class="product-details">Product</label>
              <label class="product-price">Price</label>
              <label class="product-quantity">Quantity</label>
              <label class="product-removal">Remove</label>
              <label class="product-line-price">Total</label>
            </div>
          
            <div class="product">
              <div class="product-image">
                <img src="images/medicine.png">
              </div>
              <div class="product-details">
                <div class="product-title">Medicine</div>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, quo.</p>
              </div>
              <div class="product-price">83.27</div>
              <div class="product-quantity">
                <input type="number" value="1" min="1">
              </div>
              <div class="product-removal">
                <button class="remove-product">
                  Remove
                </button>
              </div>
              <div class="product-line-price">83.27</div>
            </div>

            <div class="product">
                <div class="product-image">
                  <img src="images/medicine2.png">
                </div>
                <div class="product-details">
                  <div class="product-title">Medicine</div>
                  <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, quo.</p>
                </div>
                <div class="product-price">92.97</div>
                <div class="product-quantity">
                  <input type="number" value="1" min="1">
                </div>
                <div class="product-removal">
                  <button class="remove-product">
                    Remove
                  </button>
                </div>
                <div class="product-line-price">92.97</div>
              </div>
          
            <div class="totals">
              <div class="totals-item">
                <label>Subtotal</label>
                <div class="totals-value" id="cart-subtotal">186.84</div>
              </div>
              <div class="totals-item">
                <label>GST</label>
                <div class="totals-value" id="cart-tax">5.60</div>
              </div>
              <div class="totals-item">
                <label>Shipping</label>
                <div class="totals-value" id="cart-shipping">5.00</div>
              </div>
              <div class="totals-item totals-item-total">
                <label>Grand Total</label>
                <div class="totals-value" id="cart-total">93.87</div>
              </div>
            </div>
                
                <button class="checkout">Checkout</button>
          
          </div>
    </section>

<%- include("partials/footer") %>
