<%- include("partials/header") %>

<section id="index">
    <div class="search">
        <form method="post">
            <input title="Search" value="" type="submit" class="button">
            <input type="text" class="textbox" placeholder="Search">
        </form>
    </div>
    <div class="carousel" data-flickity='{"pauseAutoPlayOnHover": false, "autoPlay": 3000, "bgLazyLoad": true,"pageDots": false, "prevNextButtons": false, "selectedAttraction": 0.01,
    "friction": 0.15}'>
     <div class="carousel-cell"></div>
     <div class="carousel-cell"></div>
     <div class="carousel-cell"></div>
     <div class="carousel-cell"></div>
     <div class="carousel-cell"></div>
     <div class="carousel-cell"></div>
     <div class="carousel-cell"></div>
     <div class="carousel-cell"></div>
     <div class="carousel-cell"></div>
     <div class="carousel-cell"></div>
     <div class="carousel-cell"></div>
     <div class="carousel-cell"></div>
    </div>

    <div class="itemsFlash">
        <div class="container-fluid">
            <h2 class="text-center flash mt-5"><i class="fa fa-bolt" aria-hidden="true"></i> Flash Sale <i class="fa fa-bolt" aria-hidden="true"></i></h2>
            <button class="btn view">View all <small>>></small></button>
            <i class="fas fa-angle-left fa-5x left"></i>
            <i class="fas fa-angle-right fa-5x right"></i>
            <div class="row align-items-center">
              <div class="col-lg-3 col-md-6 col-xs-6 d-flex justify-content-center">
                <div class="block span3">
                    <span class="sale">&#128498;Flash sale</span>
                    <div class="product">
                      <img src="images/medicine.png">
                    </div>
                  
                    <div class="info">
                      <h4>Medicine</h4>
                      <span class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, quo.
                      </span>
                      <span class="price">₹92.07</span><span class="off">25% off</span>
                      <a class="btn btn-info pull-right" href="#"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                    </div>
                  
                    
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-xs-6 d-flex justify-content-center">
                <div class="block span3">
                    <div class="product">
                        <span class="sale">&#128498;Flash sale</span>
                      <img src="images/medicine2.png">
                    </div>
                  
                    <div class="info">
                      <h4>Medicine</h4>
                      <span class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, quo.
                      </span>
                      <span class="price">₹54.97</span><span class="off">30% off</span>
                      <a class="btn btn-info pull-right" href="#"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                    </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 col-xs-6 d-flex justify-content-center ">
                <div class="block span3">
                    <div class="product">
                        <span class="sale">&#128498;Flash sale</span>
                      <img src="images/medicine3.jpg">
                    </div>
                    <div class="info">
                      <h4>Medicine</h4>
                      <span class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, quo.
                      </span>
                      <span class="price">₹62.97</span><span class="off">15% off</span>
                      <a class="btn btn-info pull-right" href="#"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                    </div> 
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 col-xs-6 d-flex justify-content-center ">
                <div class="block span3">
                    <div class="product">
                        <span class="sale">&#128498;Flash sale</span>
                      <img src="images/medicine4.png">
                    </div>                  
                    <div class="info">
                      <h4>Medicine</h4>
                      <span class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, quo.
                      </span>
                      <span class="price">₹92.97</span><span class="off">40% off</span>
                      <a class="btn btn-info pull-right" href="#"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                    </div>                
                  </div>
              </div>
            </div>
          </div>
    </div>

    <div class="itemsTrending">
        <div class="container-fluid">
            <h2 class="text-center flash mt-5">Trending Now</h2>
            <button class="btn view">View all <small>>></small></button>
            <i class="fas fa-angle-left fa-5x left"></i>
            <i class="fas fa-angle-right fa-5x right"></i>
            <div class="row align-items-center">
              <div class="col-lg-3 col-md-6 col-xs-6 d-flex justify-content-center">
                <div class="block span3">
                    <div class="product">
                      <img src="images/medicine.png">
                    </div>
                  
                    <div class="info">
                      <h4>Medicine</h4>
                      <span class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, quo.
                      </span>
                      <span class="price">₹83.27</span>
                      <a class="btn btn-info pull-right" href="#"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                    </div>
                  
                    
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-xs-6 d-flex justify-content-center">
                <div class="block span3">
                    <div class="product">
                      <img src="images/medicine.png">
                    </div>
                  
                    <div class="info">
                      <h4>Medicine</h4>
                      <span class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, quo.
                      </span>
                      <span class="price">₹99.00</span>
                      <a class="btn btn-info pull-right" href="#"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                    </div>
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 col-xs-6 d-flex justify-content-center ">
                <div class="block span3">
                    <div class="product">
                      <img src="images/medicine.png">
                    </div>
                    <div class="info">
                      <h4>Medicine</h4>
                      <span class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, quo.
                      </span>
                      <span class="price">₹32.82</span>
                      <a class="btn btn-info pull-right" href="#"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                    </div> 
                  </div>
              </div>

              <div class="col-lg-3 col-md-6 col-xs-6 d-flex justify-content-center ">
                <div class="block span3">
                    <div class="product">
                      <img src="images/medicine.png">
                    </div>                  
                    <div class="info">
                      <h4>Medicine</h4>
                      <span class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, quo.
                      </span>
                      <span class="price">₹53.70</span>
                      <a class="btn btn-info pull-right" href="#"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                    </div>                
                  </div>
              </div>
            </div>
          </div>
    </div>
   


    <div class="categories">
        <h2 class="text-center category mt-5">Categories</h2>
        <div class="container">
            <div class="row">
                <div class="col-3 d-flex justify-content-center">
                    <div class="card" style="width: 12rem;">
                        <img src="https://img2.hkrtcdn.com/11620/bnr_1161941_o.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nutrition</h5>
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="card" style="width: 12rem;">
                        <img src="https://img4.hkrtcdn.com/11620/bnr_1161943_o.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Vitamins</h5>
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="card" style="width: 12rem;">
                        <img src="https://img6.hkrtcdn.com/11620/bnr_1161945_o.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ayurveda</h5>
                        </div>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="card" style="width: 12rem;">
                        <img src="https://img2.hkrtcdn.com/11620/bnr_1161951_o.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Wellness</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<%- include("partials/footer") %>
