<%- include("partials/header") %>
    
<section id="profile" class="profile">
    <div id="profile-container">
      <div class="profile-bg">
        <div class="first-circle">
        </div>
        <div class="profile-bg-text">
        <p id="user-detail" class="user-detail-1">Lorem Ipsum</p>
        <p id="user-detail" class="user-detail-2">xyz@gmail.com</p>
      </div>
    </div>
    <div class="user-actions-container">
      <div class="user-profile">
        <i class="fas fa-user-circle" aria-hidden="true"></i>
        <a id="links" target="_blank" href="https://www.google.com"><p>Edit profile</p></a>
      </div>
      <div class="user-profile">
        <i class="fas fa-address-card" aria-hidden="true"></i>
        <a id="links" target="_blank" href="https://www.google.com"><p>About</p></a>
      </div>
      <div class="user-profile">
        <i class="fas fa-comments" aria-hidden="true"></i>
        <a id="links" target="_blank" href="https://www.google.com"><p>Feedback</p></a>
      </div>
      <div class="cart">
        <i class="fas fa-shopping-cart" aria-hidden="true"></i>
       <a id="links"  target="_blank" href="https://www.google.com"><p>View cart</p> </a>
      </div>
      <div class="logout">
        <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
        <a id="links"  target="_blank" href="https://www.google.com"><p>Logout</p></a>
      </div>
    </div>
    </div>
    </section>
    

<%- include("partials/footer") %>
